<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        h2, h3 {
            margin-top: 30px;
        }

        table {
            margin-top: 10px;
            margin-bottom: 30px;
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <div th:insert="fragments/sidebar"></div>

    <div style="padding-left: 200px;">
        <h2>YANZHI WANG</h2>
        <p>Arlington, TX | (682) 259-6316 | yxw7416@mavs.uta.edu</p>
        <p>Authorized to work in the United States (EAD for pending Green Card Application)</p>

        <h3>TECHNICAL SKILLS</h3>
        <table>
            <tr>
                <td>Programming languages:</td>
                
                <td>Python (pandas, numpy, matplotlib, seaborn, sklearn, tensorflow, keras), Java (Spring, Hibernate, Maven),
                    C, SQL, JavaScript, Rust</td>
            </tr>
        </table>

        <h3>EDUCATION</h3>
        <table>
            <tr>
                <td>Full Stack Java Developer Program (Remote)</td>
                <td>May 2023 – August 2023</td>
            </tr>
            <tr>
                <td>The University of Texas at Arlington</td>
                <td>Dec. 2022</td>
            </tr>
            <tr>
                <td>University of Oklahoma</td>
                <td>May 2016</td>
            </tr>
        </table>

        <h3>UNIVERSITY PROJECT</h3>
        <table>
            <tr>
                <td>File Sharing System | Socket Programming in JAVA</td>
                <td>Jan. 2022 – May 2022</td>
            </tr>
            <tr>
                <td>Developed a client-server file sync system using Java, allowing multiple clients to sync files with a central server</td>
                
                <td>Implemented a TCP connection for communication and designed a multi-threaded architecture</td>
            </tr>
            <tr>
                <td>Database Systems | Oracle SQL</td>
                <td>Sept. 2021 – Dec. 2021</td>
            </tr>
            <tr>
                <td>Analyzed the IMDb database containing millions of rows of International Movies and TV episodes information</td>
                
                <td>Utilized aggregate functions to calculate counts, averages, and other statistical measures</td>
                
                <td>Implemented filtering such as the LIKE operator to extract relevant data based on genres, years, and other criteria</td>
                
                <td>Explored the relationships between tables and used JOIN operations to retrieve data from multiple tables</td>
            </tr>
            <tr>
                <td>Word Checking System | Socket Programming in PYTHON</td>
                <td>Jan. 2021 – May 2021</td>
            </tr>
            <tr>
                <td>Created a client-server system for checking word spelling using Python socket programming</td>
                
                <td>Developed a GUI-based application that allows clients to send text files to the server for word modification</td>
                
                <td>Designed UDP connection for sending and receiving files and designed a multi-threaded architecture</td>
                
                <td>Utilized automatic file detection and handling mechanism for file updates and deletions</td>
            </tr>
            <tr>
                <td>Task Management Application | Android Software Development</td>
                <td>Jan. 2021 – May 2021</td>
            </tr>
            <tr>
                <td>A task management Android app that is designed to allow users to create, delegate, and track tasks in a group</td>
                
                <td>Implemented an intuitive user interface (UI) design, providing users with an intuitive and seamless experience</td>
                
                <td>Utilized Android Studio as the development tools and frameworks to build the application</td>
                
                <td>Created a demo video showcasing the software features and functionality</td>
            </tr>
            <tr>
                <td>Data Structure and Algorithm in JAVA</td>
                <td>Sept. 2020 – Dec. 2020</td>
            </tr>
            <tr>
                <td>A stable matching between an equal sized group of advisors and students</td>
                
                <td>Use Prim’s Algorithm to find Minimum Spanning Tree</td>
                
                <td>Use dynamic programming to find the path with the smallest travel time subject to limited amount of fuel.
                    Use dynamic programming to determine the maximum attack damage</td>
                <td></td>
            </tr>
        </table>

        <h3>COURSEWORK</h3>
        <table>
            <tr>
                <td>Data Analysis & Modeling Techniques</td>
                <td></td>
            </tr>
            <tr>
                <td>Distributed Systems</td>
                <td></td>
            </tr>
            <tr>
                <td>Computer Networks</td>
                <td></td>
            </tr>
            <tr>
                <td>Software Engineering: Analysis, Design, Testing</td>
                <td></td>
            </tr>
            <tr>
                <td>Software Engineering: Management, Maintenance, QA</td>
                <td></td>
            </tr>
            <tr>
                <td>Data Mining</td>
                <td></td>
            </tr>
            <tr>
                <td>Database Systems</td>
                <td></td>
            </tr>
            <tr>
                <td>Python Programming</td>
                <td></td>
            </tr>
        </table>

        <h3>WORK EXPERIENCE</h3>
        <table>
            <tr>
                <td>Urban Planner (Full-Time)</td>
                <td>Aug. 2016 – Oct. 2018</td>
            </tr>
            <tr>
                <td>Chengdu Institute of Planning & Design</td>
                <td>Chengdu, China</td>
            </tr>
            <tr>
                <td>Conducted data analysis and mapping using GIS software to analyze demographic data</td>
                <td>Collaborated with coworkers and government officials to develop comprehensive plans for the city of Chengdu</td>
            </tr>
            <tr>
                <td>Urban Planner Assistant (Internship)</td>
                <td>May 2015 – July 2015</td>
            </tr>
            <tr>
                <td>Integra Realty Resources</td>
                <td>Oklahoma City, OK</td>
            </tr>
            <tr>
                <td>Assisted in the development of affordable housing by conducting research on existing housing stock and future housing needs for 5 Counties in Oklahoma</td>
                <td></td>
            </tr>
        </table>
    </div>
</body>

</html>